@{
    Layout = null;
    string controlador = ViewContext.RouteData.Values["controller"].ToString().ToLower();

   // SistemaWeb_Hinojosa.Models.USUARIO usuario = new SistemaWeb_Hinojosa.Models.USUARIO().Obtener(SistemaWeb_Hinojosa.Models.SessionHelper.GetUser());
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sistema MVC</title>
    <!--Boostrap-->
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--Higcharts css-->
    @*<link href="~/Assets/css/highcharts.css" rel="stylesheet" />*@
    <!--DataTables-->
    @*<link href="~/Assets/DataTables/datatables.min.css" rel="stylesheet" />
     <link href="~/Assets/DataTables/datatables.css" rel="stylesheet" />*@
    <!--Jquery-->
    <script src="~/Assets/js/jquery-3.7.1.min.js"></script>
    <!--Higcharts js-->
    @*<script src="~/Assets/js/highcharts.js"></script>
    <script src="~/Assets/js/highcharts-3d.js"></script>
    <script src="~/Assets/js/highcharts-more.js"></script>
    <script src="~/Assets/js/exporting.js"></script>
    <script src="~/Assets/js/offline-exporting.js"></script>*@
</head>
<body>
    @if (controlador != "login")
    {
        <div>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Menu Pincipal</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav me-auto mb-0 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Principal</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Mantenimiento
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/Categorias/Index">Categoria</a></li>
                                    <li><a class="dropdown-item" href="/Helados/Index">Helado</a></li>
                                    <li><a class="dropdown-item" href="/Horarios/Index">Horarios</a></li>
                                    <li><a class="dropdown-item" href="/Pedidos/Index">Pedidos</a></li>
                                    <li><a class="dropdown-item" href="/Usuarios/Index">Usuarios</a></li>
                                    <li><a class="dropdown-item" href="/Empleados/Index">Empleados</a></li>
                                    <li><a class="dropdown-item" href="/Clientes/Index">Clientes</a></li>
                                    <li><a class="dropdown-item" href="/Ubigeos/Index">Ubigeo</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Consultas
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Usuarios</a></li>
                                    <li><a class="dropdown-item" href="#">Categorias</a></li>
                                    <li><a class="dropdown-item" href="~/Producto/Index">Producto</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Reportes
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/Categoria/VerGraficoBarras">Grafico de productos por categoria (Barras)</a></li>
                                    <li><a class="dropdown-item" href="#">Categorias</a></li>
                                    <li><a class="dropdown-item" href="#">Productos mas vendidos</a></li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="navbar-nav me-0 mb-0 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Uploads/" width="40" height="40" />
                                    <b>Bienvenido: </b> Enrique, Hinojosa <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="~/Perfil/Index">Perfil de Usuario</a></li>
                                    <li><a class="dropdown-item" href="~/Login/logout">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>



                    </div>
                </div>
            </nav>
        </div>
    }
    <div class="container">
        <h1>Sistema MVC</h1>
        @RenderBody()
    </div>
    <!--Boostrap-->
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/bootstrap.bundle.min.js"></script>
    <!--Datatables-->
    @*<script src="~/Assets/DataTables/datatables.min.js"></script>*@
    <!--Login-->
    @*<script src="~/Assets/js/ini.js"></script>
    <script src="~/Assets/js/jquery.form.js"></script>
    <script src="~/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Assets/js/jquery.validate.unobtrusive.min.js"></script>*@
</body>
</html>

<script>
    $(document).ready(function () {

        new DataTable('#Vertical', {
            paging: false,
            scrollCollapse: true,
            scrollY: '200px'
        });

        new DataTable('#Horizontal', {
            scrollX: true
        });

        $("#Personalizado").DataTable({

            "aLengthMenu": [[5, 10, 25, 50, 100, 200, -1], [5, 10, 25, 50, 100, 200, "Todos"]],
            "bDestroy": true,
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ning?n dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Ultimo",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });




    });
</script>

