
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Where2</title>
</head>
<body>
    <div>
        <center>
            <h1>Lista de Productos que empiecen por la letra (A)</h1>
            <br />
            @Html.TextAreaFor(m => ViewData["Resultado"], new { rows = "25", cols = "50" })
            <br />
        </center>
    </div>
</body>
</html>
