@{
    ViewBag.Title = "Ver";
}

<h2>Visualizar</h2>

<ol class="breadcrumb">
    <li><a href="~/categoria/index">Categorias</a></li>
    <li class="breadcrumb-item active">Ver</li>
</ol>

<div class="card">
    <div class="card-header">
        <div class="card-title">Información de la categoría</div>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Id</dt>
            <dd class="col-sm-9">@Model.id_categ</dd>

            <dt class="col-sm-3">Categoría</dt>
            <dd class="col-sm-9">@Model.nombre</dd>

            <dt class="col-sm-3">Descripción</dt>
            <dd class="col-sm-9">@Model.descripcion</dd>

            <dt class="col-sm-3">Estado</dt>
            <dd class="col-sm-9">
                @(Model.estado == "A" ? "Activo" : "Inactivo")
            </dd>
        </dl>
    </div>
</div>